body{
    background-image: url('../img/background.png');
    background-size: cover;
    text-align: center;
}
.main{
    margin-top:50px;
    width:90%;
}
.left50{
    margin-left:50px;
}
.right50{
    margin-right:50px;
}
button{
    margin-left:50px;
}
.center{
    margin: auto;
}
span.orangeText{
    color:orange;
    font-size: 80px;
}
#myInput{
    color:green;
    font-size: 80px;
}
#username{
}
.userLine{
    padding-top: 10px;
    text-transform:capitalize;
}
.studyInfo{
    width: 100%;
    height:100px;
    z-index:3;
}
.userInfo{
    height:500px;
    z-index:-1;
    opacity:0.7;
    text-align:left;
}
.headerInfo{
    text-align:left;
    height:500px;
    z-index:2;
    opacity:0.7;
}
.footer{
    margin-top:50px;
}
.myDialog{
    text-align: left;
}

/********博客精灵********/
.spig {
    display: block;
    width: 120px;
    height: 156px;
    position: absolute;
    bottom: 300px;
    left: 180px;
    z-index: 9999;
}

#spig_message {
    color: #191919;
    border: 1px solid #c4c4c4;
    background: #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    min-height: 1em;
    padding: 5px;
    top: -45px;
    position: absolute;
    text-align: center;
    width: auto !important;
    z-index: 10000;
    -moz-box-shadow: 0 0 15px #eeeeee;
    -webkit-box-shadow: 0 0 15px #eeeeee;
    border-color: #eeeeee;
    box-shadow: 0 0 15px #eeeeee;
    outline: none;
}

.mumu {
    width: 120px;
    height: 146px;
    cursor: move;
    background: url('http://images.cnblogs.com/cnblogs_com/caoleiCoding/921220/o_spig.gif')
    no-repeat;
}
/********博客精灵end********/