<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>大象英语</title>
<link rel="icon" href="img/favicon.png">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="css/bootstrap.min.css" rel="stylesheet">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="js/jquery-3.6.0.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>

<!-- 引入element-ui样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<!-- 最新的 VUE 文件 -->
<script src="js/vue.min.js"></script>
<!-- script src="https://unpkg.com/vue/dist/vue.js"></script> -->

<!-- 引入element-ui组件库，这个必须在vue之后，否则不起作用 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 用户自定义js文件 -->
<script src="config/letterDB.js"></script>

<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container main" id="app">
    <div class="row">
        <div class="col-sm-3 col-lg-3">
           <div class="panel panel-info userInfo">
                <div class="panel-heading">
                    <h3 class="panel-title">用户信息</h3>
                </div>
                <div class="panel-body">
                    <div class="userLine">呢称:<span v-html="myInfo.name"></span></div>
                    <div class="userLine">等级:<span v-html="myInfo.level"></span></div>
                    <div class="userLine">开始时间:<span v-html="myInfo.startTime"></span></div>
                    <div class="userLine">练习次数:<span v-html="myInfo.exerciseCount"></span></div>
                    <div class="userLine">练习单词量:<span v-html="myInfo.studyLetters"></span></div>
                    <div class="userLine">掌握单词量:<span v-html="myInfo.knowLetters"></span></div>
                
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
                <div class="row">
                    <div class="panel panel-info studyInfo">
                        <div class="panel-heading">
                            <h3 class="panel-title">练习区【<span v-html="levelNum + '-' + letterDb.length"></span>】</h3>
                        </div>
                        <div class="panel-body">
                              <div class="col-sm-6 col-lg-6">正确「<span id="right_label">{{ rightCount }}</span>」
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: rightCount + '%' }">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-lg-6">错误「<span id="error_label">{{ errorCount }}</span>」
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: errorCount + '%' }">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                              </div>      
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <p align="center">
                            <img  :src="imgFinger" class="img-rounded img-responsive" v-show="isFinger && isPlay">
                        </p>
                        <p><span id = "myLetter" class="orangeText" v-show="isPlay" v-bind:style="{fontSize:letterSize+'px'}">
                            {{ letterPop | filterLetterPop(testMode,testLevel) }}</span>
                            <el-button type="success" icon="el-icon-headset" v-show="isPlay" v-on:click="speakText(letterPop)" circle>
                            </el-button><small id="myWord"></small></p>
                        <p><span id = "message" class="orangeText"> {{ message }}</span></p>
                        <p id = "note"> {{ note }}</p>
                        <div class="inputText" title="点击我再开始练习，否则键盘输入会出现异常情况" data-toggle="tooltip"
                             data-placement="bottom" v-show="isPlay">&nbsp;
                            <span id = "myInput" v-bind:style="{fontSize:letterSize+'px'}">{{ inputStr.join("") }}</span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-3 col-lg-3">
            <div class="panel panel-info headerInfo">
                    <div class="panel-body">
                        <p>
                            <el-button type="primary" round size="mini" @click="showLevelGroupInfo">我的成绩</el-button>
                            <el-button type="primary" round size="mini" @click="showLevelGroupInfo2">练习记录</el-button>
                        </p>
                        <p><span class="label label-danger">提示</span>:按Shift键可以提前结束哦!看到单词后直接敲击键盘,Enter键确认输入</p>
                        <p><el-switch v-model="isSpeak" inactive-text="单词拼读"></el-switch></p>
                        <p><el-switch v-model="isFinger" inactive-text="指法提示"></el-switch></p>
                        <p><el-switch v-model="myInfo.vip" inactive-text="默认语音" active-text="百度语音"></el-switch></p>
                        <p title="特殊练习：只对测试中未掌握的单词进行练习。全量练习：按照顺序逐一开始" data-toggle="tooltip"
                           data-placement="top" >
                            <el-switch v-model="isStudyAll" inactive-text="特殊训练" active-text="全量练习"></el-switch></p>
                        <p title="「测试」可以验证你英语单词学习的情况" data-toggle="tooltip"
                           data-placement="top" >
                            模式选择：<el-radio-group v-model="testMode" size="mini" v-on:change="changeTestMode">
                            <el-radio-button label="练习"></el-radio-button>
                            <el-radio-button label="测试"></el-radio-button>
                        </el-radio-group></p>
                        <p v-show="testMode==='测试'">级别：<el-radio-group v-model="testLevel" size="mini">
                            <el-radio-button label="幼儿"></el-radio-button>
                            <el-radio-button label="学霸"></el-radio-button>
                            <el-radio-button label="学神"></el-radio-button>
                        </el-radio-group></p>
                        <p>
                            词库：<el-select v-model="levelNum" placeholder="请选择" size="mini" style="width:50%">
                                <el-option
                                        v-for="item in levelNameList"
                                        :key="item"
                                        :label="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        <el-button type="danger" icon="el-icon-document"  @click="dialogFormVisible3=true" size="small" title="查看词库所有单词" data-toggle="tooltip" data-placement="top" circle ></el-button>
                        </p>
                        <p title="词库每级100个单词左右，1表示从第1个开始，2表示从第11个开始，以次类推！" data-toggle="tooltip"
                           data-placement="top" >
                            单词范围：<el-input-number v-model="levelRange"  :min="1" :max="10" label="描述文字" size="mini">
                        </el-input-number>
                        </p>
                    </div>
                <!--<button type="button" class="btn btn-info" id="exit">Exit</button>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 footer">
        <small>软件开发：吴喜伟 &nbsp;&nbsp;&nbsp;时间：2021年4月<br>版本：{{ VERSION }} Email：85207476@qq.com</small>
        </div>
    </div>

    <!--  用户名输入窗体 start  -->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">大象英语</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group" v-show="isOnLine">
                        <span class="input-group-addon">呢称</span>
                        <input type="text" id="username" v-model="my_user" class="form-control" placeholder="Emilier">
                    </div>
                    <div id="tip"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submitUser" v-show="isOnLine">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--  用户名输入窗体 end  -->

    <!--  Dialog 单词级别  start------>
    <el-dialog title="我的成绩" :visible.sync="dialogFormVisible" class="myDialog">
        <p> 一共有{{ levelLetters }}个单词</p>
        <template v-for="(value,key,index) in levelGroup">
            {{ key | toTitle }}：{{ levelLetterCount[index] }}个<el-progress :text-inside="true" :stroke-width="26" :percentage="value"></el-progress>
        </template>
        <br>
        <template v-if="isViewKnowLetters">
            <h4>已掌握的单词：</h4>
            <ul class="list-inline" >
                <li v-for="letter in myInfo.knowLetterList">{{ letter }}</li>
            </ul>
        </template>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="viewKnowLetters">查看掌握单词</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">关闭</el-button>
        </div>
    </el-dialog>
    <el-dialog title="我的练习" :visible.sync="dialogFormVisible2" class="myDialog">
        <p> 一共有{{ levelLetters }}个单词</p>
        <template v-for="(value,key,index) in levelGroup2">
            {{ key | toTitle }}：{{ levelLetterCount[index] }}个<el-progress :text-inside="true" :stroke-width="26" :percentage="value"></el-progress>
        </template>
        <br>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogFormVisible2 = false">关闭</el-button>
        </div>
    </el-dialog>
    <el-dialog title="单词表" :visible.sync="dialogFormVisible3" class="myDialog">
        <p><span class="label label-success" style="margin-right: 10px">{{ levelNum }}</span>一共有{{ letterDb.length }}个单词</p>
        <ul class="list-inline" >
            <li v-for="letter in letterDb">{{ letter }}</li>
        </ul>
        <br>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogFormVisible3 = false">关闭</el-button>
        </div>
    </el-dialog>
    <!--  Dialog 单词级别  end -->
</div>
<!--精灵 start*-->
<script src="lib/spig.js"></script>
<div id="spig" class="spig">
    <div id="spig_message">……</div>
    <div id="mumu" class="mumu"></div>
</div>

<script type="text/javascript">
    var isindex=true;
    var title="大象英语";
    var visitor="小主人";
    if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) { //移动端
        $('#spig').hide();;
    }
</script>
<!--精灵end*-->
<!--自定义的vue对象必须在组件加载完成的才能引入，否则提示找到组件。-->
<script src="lib/fingers.js"></script>
<script src="lib/main.vue.js"></script>
<script src="lib/keyDown.js"></script>
</body>
</html>